{% extends 'base.html' %}

{% block content %}
<div class='aboutContainer'>
    <div class='titleBlock'>
        <h2>About</h2>
    </div>
    <div class='aboutText'>
        The purpose of this website is to hold the McGill administration accountable for the promises they make to the student population. Often it feels like there are grand lavish announcements of future projects, yet the projected completion date comes and little or no progress has been made. While these are just feelings, we can quantify them by keeping track of communications from the administration and holding them to their word.
    </div>
    <div class='aboutText'>
        The name for this site, of course, comes from McGill Principal Suzzanne Fortier (colloquially known as 'Big Suze'). It is merely a funny moniker and is not intended to defame or demean Dr. Fortier. All the content on this site is the work of the original posters (you might notice anyone can add a promise to the tracker), and thus does not represent or reflect the views of the site owner in any way. 
    </div>

</div>
{% endblock %}