{% extends 'base.html' %}

<script type="javascript">
    func clickedRow()
</script>
{% block content %}
    <table class="container">
        <thead>
            {% for column in tableColumns %} 
            <th><h2>{{ column }}</h2></th>
            {% endfor %}
            </thead>
        <tbody>
        {% for row in rows%}
            <tr>
                <td><a href={{ '/task/' + row[0] }}>{{ row[1] }}</a></td>
                {% for item in row[2] %}
                <td>{{ item }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
        </table>
{% endblock %}