{% extends 'base.html' %}

{% block content %}
<div class="formContainer">
<h1>Add New Promise</h1>
    <form method="POST">
        {{ form.csrf_token }}
        <div class=inField>
            {{form.task.label }} {{ form.task }}
        </div>
        <div class=inField>
                {{form.progress.label }} {{ form.progress(max=10,min=0) }}
        </div>
        <div class=inField>
                {{form.startDate.label }} {{ form.startDate }}
        </div>
        <div class=inField>
                {{form.endDate.label }} {{ form.endDate }}
        </div>
        <div class=inField>
                {{form.details.label }} {{ form.details(rows='10') }}
        </div>
        <div class=inField>
                {{form.references.label }} {{ form.references(rows='10') }}
        </div>
        {{ form.recaptcha }}
        <div class='submitContainer'>
            {{ form.submit }}
        </div>
    </form>
</div>
{% if complete %}
<div class='compOverlay'>
        <div class='innerOL'>
                <p>Thanks for adding a promise. To prevent spam, additions to the database have to be manually approved by a moderator. Please check back soon. </p>
                <button class='homebutton' onclick='location.href = "{{ home }}"'>Return</button>
        </div>
</div>
{% endif %}
{% endblock %}